* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

img {
  max-width: 100%;
  height:auto; /* Om man sätter fast height i html  */
}

nav {
  background-color: black;
  color: white;
  display: flex;
  padding: 3rem;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.wrapper {
  margin-block: 4rem;
  max-width: calc(95% - 10px);
  margin-inline: auto;
}

.card {
  font-size: 1.5rem;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card > * {
  flex: 1;
}

.card p {
  padding-bottom: 2rem;
}



@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
}

